<!DOCTYPE html>
<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/gh/github/fetch@2.0.4/fetch.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col-md-4">
      <div class="jumbotron">
        <h1>Démo de traces de API Particulier</h1>
        <hr />
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Téléservice Bourse - Démonstration</h3>
            <form name="462a57c8591604cd91b9a832fa217d01" onSubmit="getSvair(event)">
              <div class="form-group">
                <label>Numéro fiscal</label>
                <input class="form-control" name="numeroFiscal">
              </div>
              <div class="form-group">
                <label>Référence avis</label>
                <input class="form-control" name="referenceAvis">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                  Envoyer
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Calcul de quotient familial démo - Démonstration</h3>
            <form name="986b76621714e1386b021ef2cecf1603" onSubmit="getSvair(event)">
              <div class="form-group">
                <label>Numéro fiscal</label>
                <input class="form-control" name="numeroFiscal">
              </div>
              <div class="form-group">
                <label>Référence avis</label>
                <input class="form-control" name="referenceAvis">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                  Envoyer
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
<iframe src="https://monitoring.particulier.api.gouv.fr/app/kibana#/visualize/edit/AWLN243Vba0rQwOJqElc?embed=true&_g=(filters:!(),refreshInterval:('$$hashKey':'object:1849',display:'5+seconds',pause:!f,section:1,value:5000),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:AWI-jZcPba0rQwOJdsFb,key:queryHash,negate:!f,type:phrase,value:'81586cd0021ec648fc2869917780cbb02c2e03f88d4101936defbd60edde916a716758619a5a38763029ed1f8dbeb4fcb97e1a081817572f898c381408048203'),query:(match:(queryHash:(query:'81586cd0021ec648fc2869917780cbb02c2e03f88d4101936defbd60edde916a716758619a5a38763029ed1f8dbeb4fcb97e1a081817572f898c381408048203',type:phrase))))),linked:!f,query:(match_all:()),uiState:(vis:(params:(sort:(columnIndex:!n,direction:!n)))),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'3',params:(customLabel:'Heure+de+l!'appel',field:time,order:desc,orderBy:_term,size:50),schema:bucket,type:terms),(enabled:!t,id:'2',params:(customLabel:'Organisme+appelant',field:consumer.organisation,order:desc,orderBy:'1',size:50),schema:bucket,type:terms)),listeners:(),params:(perPage:10,showMeticsAtAllLevels:!f,showPartialRows:!f,showTotal:!f,sort:(columnIndex:!n,direction:!n),totalFunc:sum,type:table),title:'D%C3%A9monstration+juristes',type:table))" height="100%" width="100%"></iframe>
    </div>
    <script>
function getSvair (event) {
  event.preventDefault()
  let target = event.target
  fetch('https://particulier.api.gouv.fr/api/impots/svair?numeroFiscal=' + target.elements[0].value + '&referenceAvis=' + target.elements[1].value, {
      headers: {
        'X-Api-Key': target.name
      }
      }).then((response) => {
        alert('Données récupérées')
        target.reset()
        console.log(response)
      }).catch((response) => console.log(response))
}
    </script>
  </body>
</html>
